.head{
    background-color: darkblue;
    color: white;
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.form{
    position: relative;
    width: fit-content;
    left: 500px;
    top: 200px;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px;

}

.wr{
    display: flex;
    justify-content: center;
}
    
